@import "__variable";
@import "__globals";


html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;

 
}

body {

  background-color: #f0e4d2;



  
}

a {
  text-decoration: none; 
  color: inherit;
}



.navbar {
  background-color: #f0e4d2;
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  margin: 0 15vh;

  
}


.logo {

  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: default;
  border: 1px solid black;
  
 

  // border: 1px solid black;
  
}


.nav-menu {
  display: none;

  gap: 2rem;
  border: 1px solid black;
  margin: 0 auto;

    
}

.nav-item {
  list-style: none;
  display: flex;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: rem;


}

.nav-link {
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
  text-decoration: none;
  // border: 1px solid black;


}

.nav-link:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}


.hamburger {
  display: block;
  cursor: pointer;
 

}

.hamburger .bar {

  display: flex;
  border-radius: 10px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color:  rgb(0, 0, 0);
  transition: 0.3s;
  
}

.hamburger:hover span:nth-child(2){
  transform: translate(5px);
  background-color: rgb(0, 0, 0);
}


@media (min-width: 782px) {
  .hamburger{
    display: none;
    
  }

  .nav-menu{
    display: flex;
  }
}

@media (max-width: 782px) {
  .hero_text{
    display: none;
  }

  .blog-box {
    width: 300px;
  }


  @media (max-width: 1100px) {
    .blog-box{
        width: 70%;
    }
}

}

.flex-container {
  display: flex;
  justify-content:  center;
  border: 1px solid black;
  margin: 0 1rem;
  



}

.main-content {
  display: flex;
  border: 1px solid black;


}


.BlogContent {
  border: 2px solid black;
  align-items: center;
  margin: 5vh 0;
  background-color: white;

}

.Blogtitle {
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}

.snippet {
  padding: 0.5rem;
}












// .BlogWrapper {
//   display: flex;
//   flex-direction: column;
//   margin: 1rem;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid black;
// }


// .BlogContent {
//   border: 1px solid black;
//   display: flex;
//   flex-direction: column;
//   margin: 1rem;
//   width: 50vh;
//   align-items: start;
//   justify-content: center;
// }