* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #484963;
}

footer {
  width: 100%;
  background-color: #09090c;
  position: fixed;
  bottom: 0;
  padding: 2vh;
  margin: scale;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.contact_link {
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
}

.footer_bottom {
  text-decoration: none;
  list-style: none;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0 auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f0e4d2;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: #f0e4d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 15vh;
  margin: 0 15vh;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  cursor: default;
  border: 1px solid black;
}

.nav-menu {
  display: none;
  gap: 2rem;
  border: 1px solid black;
  margin: 0 auto;
}

.nav-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: rem;
}

.nav-link {
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger:hover span:nth-child(2) {
  -webkit-transform: translate(5px);
          transform: translate(5px);
  background-color: black;
}

@media (min-width: 782px) {
  .hamburger {
    display: none;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 782px) {
  .hero_text {
    display: none;
  }
  .blog-box {
    width: 300px;
  }
}

@media (max-width: 782px) and (max-width: 1100px) {
  .blog-box {
    width: 70%;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  margin: 0 1rem;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
}

.BlogContent {
  border: 2px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 0;
  background-color: white;
}

.Blogtitle {
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}

.snippet {
  padding: 0.5rem;
}
/*# sourceMappingURL=main_style.css.map */