<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/details.css">
  <title><% title %> </title>
</head>
<body>
 

  <div class="details_content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
      <p class="date"><%= blog.date.slice(0,15) %></p>
    </div>
    <a class="delete" data-doc = "<%= blog._id %>">Delete</a>
  </div>


  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>