<footer>
  <div class = "footer_bottom">
    <p> 
      Copyright &copy; 2022 Yohora. Designed by Yohora.Dev
    </p>
  </div>

  <div class="footer_contact">
    <a class = "contact_link" href="">
      Contact
    </a>
  </div>
</footer>
