


<header>
  <nav class = 'navbar'>

    <aside class="logo"> Yohora </aside>

    <ul class = "nav-menu">
      <li class = 'nav-item'>
        <a href= "/" class="nav-link"> Home </a>
      </li>
      <li class = 'nav-item'>
        <a href= "/about" class="nav-link"> About </a>
      </li>
      <li class = 'nav-item'>
        <a href= "/projects" class="nav-link"> Projects </a>
      </li>
      <li class = 'nav-item'>
        <a href= "https://github.com/Yohora?tab=repositories" class="nav-link"> Github </a>
      </li>
      <li class = 'nav-item'>
        <a href= "/blogs/create" class="nav-link" id="post"> Post </a>
      </li>
    </ul>

    <div class = "hamburger">
      <span class = "bar" ></span>
      <span class = "bar" ></span>
      <span class = "bar" ></span>
    </div>

  </nav>
</header>